In [1]:
import numpy as np 
import pandas as pd

Null value Depictions inisde pandas: NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
    'null'.#NAME?

In [4]:
df = pd.read_csv('diabetes_null.csv',na_values=['#NAME?'])

In [5]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,5,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,4.0,35.0,168.0,43.1,2.288,33,1

In [6]:
df.shape

(768, 9)

In [7]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [8]:
df.isna().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [10]:
df.isnull().sum().sort_values(ascending = False)

Insulin                     374
SkinThickness               227
BloodPressure                35
BMI                          11
Glucose                       5
Outcome                       0
Age                           0
DiabetesPedigreeFunction      0
Pregnancies                   0
dtype: int64

In [11]:
df_no_null = df.dropna(subset = ['Glucose'])

In [12]:
df_no_null.isnull().sum().sort_values(ascending = False)

Insulin                     370
SkinThickness               227
BloodPressure                35
BMI                          11
Outcome                       0
Age                           0
DiabetesPedigreeFunction      0
Glucose                       0
Pregnancies                   0
dtype: int64

In [14]:
from sklearn.preprocessing import Imputer

In [21]:
from sklearn.impute import SimpleImputer

In [ ]:
!pip install sklearn

In [18]:
df1 = pd.read_csv(r'diabetes_null.csv',na_values=['#NAME?'])

imp = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0) #you can also use np.nan

imp.fit(df1)
df_nonull =pd.DataFrame(data =  imp.transform(df1),columns = df1.columns)

c:\users\aadhi\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [19]:
df_nonull.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.000000,105.659898,33.6,0.627,5.0,1.0
1,1.0,85.0,66.0,29.000000,105.659898,26.6,0.351,31.0,0.0
2,8.0,183.0,64.0,25.876155,105.659898,23.3,0.672,32.0,1.0
3,1.0,89.0,66.0,23.000000,94.000000,28.1,0.167,21.0,0.0
4,0.0,137.0,4.0,35.000000,168.000000,43.1,2.288,33.0,1.0

In [20]:
df_nonull.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [23]:
imp_ = SimpleImputer(missing_values=np.nan,strategy='median') #np.nan
imp_.fit(df1)

SimpleImputer(copy=True, fill_value=None, missing_values=nan,
       strategy='median', verbose=0)

In [24]:
print(imp_.transform(df1))

[[  6.    148.     72.    ...   0.627   5.      1.   ]
 [  1.     85.     66.    ...   0.351  31.      0.   ]
 [  8.    183.     64.    ...   0.672  32.      1.   ]
 ...
 [  5.    121.     72.    ...   0.245   3.      0.   ]
 [  1.    126.      6.    ...   0.349  47.      1.   ]
 [  1.     93.      7.    ...   0.315  23.      0.   ]]

In [25]:
import sklearn
print(sklearn.__version__)

0.20.2

In [ ]:
!pip install sklearn==0.20.2

## handling Outliers

In [26]:
def find_outliers(data):
    q1 = data.quantile(.25)
    q3 = data.quantile(.75)
    iqr = q3-q1
    lw = q1-1.5*iqr
    uw = q3+1.5*iqr
    outlier_index = list(data.index[(data<lw)|(data>uw)])
    outlier_value = list(data[outlier_index])
    return outlier_index,outlier_value

In [29]:
insul_index, insulin_value = find_outliers(df_nonull['Insulin'])
print(insul_index)
print(insulin_value)

[4, 8, 13, 14, 20, 31, 35, 40, 53, 54, 69, 91, 95, 103, 111, 114, 120, 122, 130, 132, 136, 139, 144, 153, 162, 186, 199, 214, 215, 220, 228, 236, 243, 244, 254, 258, 279, 286, 290, 292, 293, 297, 298, 320, 325, 335, 338, 356, 359, 360, 364, 370, 375, 382, 385, 388, 390, 392, 395, 405, 409, 411, 414, 415, 425, 432, 441, 446, 458, 459, 467, 476, 480, 487, 499, 516, 519, 528, 540, 545, 547, 555, 561, 569, 584, 595, 606, 608, 609, 611, 612, 633, 650, 657, 659, 662, 669, 670, 679, 700, 704, 707, 710, 713, 715, 716, 718, 721, 733, 748]
[168.0, 543.0, 846.0, 175.0, 235.0, 245.0, 192.0, 7.0, 3.0, 342.0, 1.0, 176.0, 228.0, 4.0, 495.0, 175.0, 1.0, 1.0, 168.0, 225.0, 5.0, 325.0, 284.0, 485.0, 285.0, 495.0, 318.0, 175.0, 271.0, 478.0, 744.0, 192.0, 176.0, 194.0, 258.0, 375.0, 278.0, 545.0, 4.0, 182.0, 194.0, 215.0, 184.0, 231.0, 168.0, 255.0, 171.0, 167.0, 249.0, 325.0, 293.0, 465.0, 325.0, 182.0, 5.0, 285.0, 196.0, 415.0, 275.0, 165.0, 579.0, 176.0, 167.0, 474.0, 277.0, 6.0, 5.0, 7.0, 237.0, 6.0, 1.0, 191.0, 328.0, 265.0, 193.0, 165.0, 326.0, 188.0, 215.0, 225.0, 166.0, 215.0, 274.0, 165.0, 6.0, 185.0, 293.0, 272.0, 182.0, 194.0, 321.0, 183.0, 1.0, 2.0, 7.0, 231.0, 1.0, 168.0, 265.0, 2.0, 1.0, 335.0, 387.0, 291.0, 392.0, 185.0, 178.0, 2.0, 165.0, 2.0]

In [31]:
BP_index, BP_value = find_outliers(df_nonull['BloodPressure'])
print(BP_index)
print(BP_value)

[106]
[122.0]

In [32]:
ST_index, ST_value = find_outliers(df_nonull['SkinThickness'])
print(ST_index)
print(ST_value)

[19, 55, 57, 66, 70, 73, 74, 75, 86, 92, 98, 99, 120, 122, 126, 135, 141, 150, 161, 182, 194, 202, 211, 215, 217, 273, 275, 279, 291, 310, 313, 321, 322, 356, 357, 358, 370, 373, 380, 397, 409, 411, 427, 445, 455, 458, 462, 463, 466, 470, 480, 491, 532, 534, 539, 540, 551, 556, 558, 566, 569, 574, 576, 579, 590, 591, 621, 631, 644, 652, 657, 669, 671, 693, 704, 713, 723, 725, 741, 763]
[3.0, 1.0, 6.0, 3.0, 2.0, 2.0, 3.0, 2.0, 54.0, 4.0, 3.0, 51.0, 56.0, 3.0, 3.0, 2.0, 3.0, 5.0, 4.0, 2.0, 2.0, 2.0, 54.0, 4.0, 3.0, 5.0, 52.0, 1.0, 3.0, 3.0, 1.0, 3.0, 2.0, 4.0, 3.0, 4.0, 48.0, 4.0, 3.0, 4.0, 49.0, 3.0, 3.0, 63.0, 3.0, 48.0, 4.0, 3.0, 1.0, 4.0, 3.0, 3.0, 52.0, 3.0, 49.0, 4.0, 3.0, 4.0, 4.0, 3.0, 3.0, 3.0, 2.0, 99.0, 4.0, 5.0, 2.0, 4.0, 3.0, 4.0, 48.0, 3.0, 1.0, 49.0, 2.0, 2.0, 3.0, 4.0, 2.0, 48.0]

In [33]:
P_index, P_value = find_outliers(df_nonull['Pregnancies'])
print(P_index)
print(P_value)

[88, 159, 298, 455]
[15.0, 17.0, 14.0, 14.0]

In [34]:
Age_index, Age_value = find_outliers(df_nonull['Age'])
print(Age_index)
print(Age_value)

[123, 129, 148, 221, 263, 294, 361, 362, 363, 453, 456, 459, 479, 489, 495, 509, 537, 552, 579, 582, 674, 684, 759, 763]
[69.0, 62.0, 65.0, 66.0, 63.0, 65.0, 63.0, 65.0, 67.0, 72.0, 62.0, 81.0, 63.0, 67.0, 66.0, 64.0, 67.0, 66.0, 62.0, 62.0, 68.0, 69.0, 66.0, 63.0]

In [35]:
GL_index, GL_value = find_outliers(df_nonull['Glucose'])
print(GL_index)
print(GL_value)

[]
[]

In [36]:
del_df = df_nonull.drop(Age_index)

## Normalisation

In [38]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
X = sc.fit_transform(df_nonull)

In [39]:
print(type(X))

<class 'numpy.ndarray'>

In [40]:
X

array([[0.35294118, 0.74242424, 0.58677686, ..., 0.22715517, 0.02564103,
        1.        ],
       [0.05882353, 0.42424242, 0.53719008, ..., 0.10818966, 0.35897436,
        0.        ],
       [0.47058824, 0.91919192, 0.52066116, ..., 0.24655172, 0.37179487,
        1.        ],
       ...,
       [0.29411765, 0.60606061, 0.58677686, ..., 0.0625    , 0.        ,
        0.        ],
       [0.05882353, 0.63131313, 0.04132231, ..., 0.10732759, 0.56410256,
        1.        ],
       [0.05882353, 0.46464646, 0.04958678, ..., 0.09267241, 0.25641026,
        0.        ]])

In [ ]:
1) Clean Data 
- Feature Engineering 
2)Correlation 
- Feature Engineering
3) Scaling or Nomalization

In [41]:
df = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

In [42]:
df_army = pd.DataFrame(df)

In [43]:
df_army.head()

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters,origin
0,Nighthawks,1st,523,5,1045,1,1,1,4,Arizona
1,Nighthawks,1st,52,42,957,5,2,0,24,California
2,Nighthawks,2nd,25,2,1099,62,3,1,31,Texas
3,Nighthawks,2nd,616,2,1400,26,3,1,2,Florida
4,Dragoons,1st,43,4,1592,73,2,0,3,Maine

In [48]:
df_army['regiment'].value_counts().index

Index(['Nighthawks', 'Scouts', 'Dragoons'], dtype='object')

In [45]:
#dummy variable encoding or One - hot encoding
pd.get_dummies(data = df_army, columns = ['regiment'])

,company,deaths,battles,size,veterans,readiness,armored,deserters,origin,regiment_Dragoons,regiment_Nighthawks,regiment_Scouts
0,1st,523,5,1045,1,1,1,4,Arizona,0,1,0
1,1st,52,42,957,5,2,0,24,California,0,1,0
2,2nd,25,2,1099,62,3,1,31,Texas,0,1,0
3,2nd,616,2,1400,26,3,1,2,Florida,0,1,0
4,1st,43,4,1592,73,2,0,3,Maine,1,0,0
5,1st,234,7,1006,37,1,1,4,Iowa,1,0,0
6,2nd,523,8,987,949,2,0,24,Alaska,1,0,0
7,2nd,62,3,849,48,3,1,31,Washington,1,0,0
8,1st,62,4,973,48,2,0,2,Oregon,0,0,1
9,1st,73,7,1005,435,1,0,3,Wyoming,0,0,1
10,2nd,37,8,1099,63,2,1,2,Louisana,0,0,1
11,2nd,35,9,1523,345,3,1,3,Georgia,0,0,1

In [46]:
from sklearn.preprocessing import LabelEncoder

In [47]:
le = LabelEncoder()

In [49]:
le.fit(['Nighthawks', 'Scouts', 'Dragoons'])

LabelEncoder()

In [50]:
le.transform(['Dragoons','Scouts','Nighthawks','Dragoons','Dragoons'])

array([0, 2, 1, 0, 0], dtype=int64)

In [51]:
from sklearn.decomposition import PCA

In [52]:
pca = PCA(n_components = 2)

In [55]:
df_nonull.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.000000,105.659898,33.6,0.627,5.0,1.0
1,1.0,85.0,66.0,29.000000,105.659898,26.6,0.351,31.0,0.0
2,8.0,183.0,64.0,25.876155,105.659898,23.3,0.672,32.0,1.0
3,1.0,89.0,66.0,23.000000,94.000000,28.1,0.167,21.0,0.0
4,0.0,137.0,4.0,35.000000,168.000000,43.1,2.288,33.0,1.0

In [53]:
pca.fit(df_nonull)
df_pca = pca.transform(df_nonull)

In [54]:
df_2c = pd.DataFrame(df_pca)
df_2c

              0           1
0     10.675387  -47.502240
1     -3.292079   13.774334
2     18.714487  -81.526383
3    -13.915086    7.550797
4     69.977332  -22.380299
5      3.349472  -15.962400
6    -21.242127   17.517377
7      3.492586  -15.372591
8    449.213769    3.507755
9      5.366556  -26.081846
10   -20.517667   85.756622
11    15.157027  -67.414177
12     9.735626  -38.319339
13   742.323984   79.743001
14    82.336811  -49.751735
15   -21.919357   96.224275
16   -76.476332  -37.995989
17   -18.711966   79.846005
18   -40.601787   79.219723
19    -5.605520  -16.238466
20   131.723039    2.066274
21    -0.631126    0.190124
22    22.349970  -93.792885
23     5.208003  -18.595960
24    48.798820  -34.780119
25    15.592650  -22.374771
26    10.459806  -47.174159
27   -90.153174  -17.929557
28   -82.220690  -66.339399
29     3.501467  -18.013280
..          ...         ...
738  -86.981141  -18.772371
739  -19.825654   84.346893
740 -107.043225   64.584563
741  -31.069941   83.749327
742   -8.155387   80.866047
743  -19.582469   82.130730
744  -77.328711  -73.302786
745 -110.424560   74.992039
746   10.294406  -47.700422
747  -51.607589    5.932201
748  -80.713521 -108.002395
749   13.856266  -60.578106
750    8.833798  -34.818835
751  -26.143932  -29.001279
752  -18.381013   79.303197
753  -35.178671  -92.909304
754   12.146386  -54.065980
755  -86.017379  -50.230103
756    9.368529  -36.505518
757    5.185674  -23.812675
758  -19.043739   80.747015
759  -18.324739   76.876851
760  -89.968963   -8.953902
761  -18.625988   79.219949
762   -2.342717   10.029553
763 -104.962427   64.819320
764    5.707680  -21.402684
765   10.628003  -19.320729
766    6.885864  -24.943131
767   -0.602291    7.477028

[768 rows x 2 columns]

In [ ]:
df = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}